.nav {
flex-direction: column;
}

@media (min-width: 768px) {
.nav {
    flex-direction: row;
}
}

@media (min-width: 1024px) {
.nav {
    justify-content: space-between;
}
}

@media (max-width: 1724px) {
  .info {
    flex-direction: column;
    text-align: center;
  }

  .laimg {
    display: none;
  }

  .videito{
    display: none;
  }
  .que{
  flex-direction: column; 
  padding-right: 10px;
  }
}

.menu-toggle
{
display: none;
font-size: 2rem; 
background: none; 
border: none; 
cursor: pointer;
margin-right: 0;
margin-bottom: -10px;
margin-top: -12px;
}

@media (max-width:700px){

  .Menu_Horizontal {
  display: none; 
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 100%;
  background-color: rgb(58, 58, 58);
  }

  .Menu_Horizontal li {
  display: none; 
  }

  .menu-toggle{
  display: block;
  color: white;
  }

  .Menu_Horizontal.active
  {
  display: flex;
  border-style: groove;
  padding-top: 10px;
  padding-left:8px;
  }

  .Menu_Horizontal.active li {
  display: flow-root;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-style:groove ;
  }
  
}
body
{
background-color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

.Menu_Horizontal li
{
    align-content: center;    
    color:rgb(255, 255, 255);
    text-transform: uppercase;

}

.Menu_Horizontal a
{
align-content: center;
text-decoration: none;
color:rgb(255, 255, 255);
}

.Menu_Horizontal a:hover
{
color: red;
transition-duration: 1s;
}
.Menu_Vertical 
{
align-items: center;
padding-bottom: 3%;
color:azure;
list-style: none;
display: none ;
position: absolute;
background-color: rgb(58, 58, 58);
border-style:inset;
}
.Menu_Vertical li{
  margin-left: -40px;
  padding: 20px;
}


.logo img
{
padding-top: 10px;
padding-bottom: 4px;
height: 40px;
margin-left: -1rem;
margin-top: -1rem;
margin-right: 0rem;
}

.Menu_Horizontal li:hover .Menu_Vertical
{
display: block;
cursor: pointer;
}

.Menu_Horizontal li:hover
{
color: #f13932;
transition-duration: 1s;
cursor: pointer;
}

#tilin{
  width: 100%;
  max-width: 2000px;
  aspect-ratio: 16 / 9;
  height: auto;
  margin: 0 auto;
  display: block;
  pointer-events: none;
  padding-bottom: 10px;
}

.que h3 {
    color: white;
    text-align: left;
    font-family: 'Geo',Arial,sans-serif;
    padding-left: 10px;
    text-align: justify;
}

.info
{
    gap: 1%;
}

.laimg
{
border-style:groove;
border-color: #966261;
margin-right: 10px;
margin-bottom: 10px;
margin-left:  20px;
margin-top: 10px;
}

@media (max-width: 914px) {
  .hero iframe {
    padding-left:0 ;
    width: 100%;
    height: 30%;
    margin-bottom: 0px;
  }
}

.cabecera{
color: azure;
list-style: none;
justify-content: space-around;
display: flex;
align-items: center ;
background-color: rgb(58, 58, 58);
width: 100% auto;
gap: 1px;
margin-bottom: 10px;
border-color: rgb(0, 0, 0);
border-style:ridge;
position: relative;
}

.cabecera #logos{
  padding-top: 19%;
  padding-left: 16%;
}

.Menu_Horizontal
{
list-style: none;
display: flex;
justify-content: space-around;
width: 100%;
}

.que{
  background-image: url("imagenes/fondogg.png");
  background-size: cover;
  color: aliceblue;
  display: flex;
}

.que h1{
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Geo';
  display: flex;
}

.quiz{
    display: flex;
    width: 100%;
}

.insano{
  display: flex;
  width: 100%;
}

.videito{
  margin-left: 20px;
  margin-top: 40px;
}